<div class="row">
    <div class="col-3">
       <app-doughnut [labels]="labels1"   [data]="data1"></app-doughnut>
    </div>
    <div class="col-3">
        <app-doughnut [labels]="labels2"  [data]="data2" titulo="Sales2"></app-doughnut>
    </div>
    <div class="col-3">
        <app-doughnut [labels]="labels3"  [data]="data3" titulo="Sales3"></app-doughnut>
    </div>
    <div class="col-3">
        <app-doughnut [labels]="labels4"  [data]="data4" titulo="Sales4"></app-doughnut>
    </div>
</div>

